

body {
 font-size: 20px;
 line-height: 30px;
 font-family: Arial, Helvetica, sans-serif;
 color: #777777;
 background-image: url("../images/bkg.jpeg");
 background-position: bottom;
 background-repeat: no-repeat;
 

}
* {
  box-sizing: border-box;
}
.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  clear: both;
  
  padding-top: 60px;
}
h1,h2,h3,p{
  margin-bottom: 20px;
}
p:last-child {
   margin-bottom: 0;
}
h1,h2,h3{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  color: #0f5350;
}
h1{
  font-size: 30px;
  line-height: 49px;
  border-bottom: 3px solid #ddd;
  padding-bottom: 20px;
  padding-top: 50px;
}
h2,h3{
  font-size:22px;
}
/* header */
#tophead {
  position: fixed;
  z-index: 99;
  background: #fff;
  overflow: auto;
  margin: 0 0 30px;
  color: #fff;
  border-bottom: 2px solid #ccc;
  width: 100%;
  }

#branding{
  width: 300px;
  height: 25px;
  background:#4aaa;
  float: left;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
  color: #fff;
  font-weight:bold;
  font-size: 30px;
  text-decoration: none;
  white-space: nowrap;
  padding-top: 50px;
  margin-top: 40px;
  padding-bottom: 40px
  
}

nav{
  float: right;
  margin-top: 60px;
}
nav a {
  color: #999;
  text-decoration: none;
  margin-left: 15px;
  border-left: 1px solid #efefef;
  padding-left: 15px;
  line-height: 18px;
}
nav a:first-child {
  border-left: 0 none;
}
.maincontainer{
  padding-top: 130px;
  min-height: calc(100vh-70px);
}
.topsection{
  float: left;
  width: 100%;
  max-width: 960px;
  padding: 30px;
  margin: 0 0 40px;
  background: #fff;
  border: 1px solid #ddd;

}
/*profile image*/
.pro-img {
  width: 200px;
  height: auto;
  margin-top: 10px;
  float: left;
  margin-right: 25px;
}
footer{
  background: #666;
  color: #fff;
  padding: 30px 0;
  clear: both;
  border-top: 10px solid #4aaaa5;
  color: #ccc;
  font-size: 12px;
  text-align: center;
}
/*portfolio*/
.igm {
   position: relative;
  float: left;
  width: 274px;
  margin: 20px 0 25px;
  overflow: auto;

}
.igm-image{
  float: left;
  width: 200px;
  height: auto;
  margin-top: 10px;
  margin-right: 25px;

}
.igm:nth-child(even){
  margin-right: 40px;
}
.igm h3{
  position: absolute;
  bottom: 20px;
  width: 70%;
  padding: 0px;
  margin-bottom: 0;
  font-weight: 100;
  line-height: 30px;
  color: #fff;
  text-align: center;
  background: #4aaaa5;
  border-bottom: 0;

}
#contact-form ul {
  margin-bottom: 20px;
}
#contact-form li{
  margin-bottom: 10px;
}
label,input[type-text],
input[type-email],
textarea {
  display: block;
  width: 100%;
}
input[type=text],
input[type=email],
textarea {
  height: 35px;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ddd;
}

textarea {
  height: 200px;
}

input[type=submit] {
  padding: 10px 30px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  background: #4aaaa5;
  border: 0 none;
}


@media screen and (max-width: 980px) {
   .bodycontainer {
     background-color: teal;
   }
 }

 @media screen and (max-width: 768px) {
   .container {
     background: blanchedalmond;
   }
 }

  @media screen (max-width: 640px) {
   .tophead{
     ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 60px;
} 

li a {
    display: block;
}
   }
  }








/* css animations */

@keyframes example {
    from {background-color: red;}
    to {background-color: yellow;}
}

/* The element to apply the animation to */
footer {
   
    background-color: red;
    animation-name: example;
    animation-duration: 4s;
}






  